/*
************* Reset ************
*/
/* border box includes content, padding, and border to element*/
/* Padding and margin set to 0 in viewport*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: default;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Text highlighting */
::selection {
    background: rgb(255, 255, 255);
  }
  /* Text highlighting Firefox */
::-moz-selection {
    background: rgb(255, 255, 255);
  }

/* Global font size */
html {
    font-family: "MG-B";
    font-size: 10px;
    /* letter-spacing: -.02rem; */
    color: rgb(0, 0, 0);
    background-color: rgb(188, 188, 188);
    line-height: 1.4rem;
}

/* Formats lists and menu*/
ul, ol {
    list-style-type: none
}
ul a {
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}

/* ******************************************** */
/* ******************************************** */
/* TYPEFACES */

@font-face {
    font-family: "MG-B";
    src: url("/fonts/MG-B.woff2");
  }

.test_wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.test_header {
    grid-column: 1 / 8;
    margin-top: 5rem;
    font-size: 1.3rem;
}

.test_text_1 {
    grid-column: 1/ 8;
    margin-top: 5rem;
    font-size: 1.1rem;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* MEDIA QUERIES */

@media (width < 800px) {

    .test_text_1 {
        /* justify-content: right; */
        /* margin-top: 2rem; */
        grid-column: 1 / 12;
        /* background-color: brown; */
    }
}
