/*
************* Reset ************
*/
/* border box includes content, padding, and border to element*/
/* Padding and margin set to 0 in viewport*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: default;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Text highlighting */
::selection {
    background: rgb(253, 219, 156);
  }
  /* Text highlighting Firefox */
::-moz-selection {
    background: rgb(253, 219, 156);
  }


/* Global font size */
html {
    font-family: "MG-B";
    font-size: 10px;
    letter-spacing: .14rem;
    color: rgb(0, 0, 0);
    background-color: rgb(230, 230, 230);
}

/* Formats lists and menu*/
ul, ol {
    list-style-type: none
}
ul a {
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
    color: black;
    transition: letter-spacing 0.5s;
}

/* ******************************************** */
/* ******************************************** */
/* TYPEFACES */

@font-face {
    font-family: "MG-B";
    src: url("/fonts/MG-B.woff2");
  }
/* @font-face {
    font-family: "ABCMarfaMono-Light-Trial";
    src: url("/fonts/ABCMarfaMono-Light-Trial.woff2");
} */


.test_text {
    font-family: MG-B;
    /* letter-spacing: 0rem; */
    /* grid-column: 1 / 25; */
    /* font-size: 1.1rem; */
    font-size: 3rem;
    /* margin-bottom: 1.8rem; */
}


.wrapper_menu {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: -1.9rem;
}